  <mat-toolbar>
   <div class="nav-left">
      <button mat-icon-button class="example-icon">
         <mat-icon>menu</mat-icon>
      </button>
    
      <div class="header-element">
         <a routerLink="/home" class="logo">Home</a>
      </div>

      <div class="header-element">
      <a routerLink="/theme">Theme</a>
      </div>
    </div>

    <div class="nav-right">
   <mat-icon (click)="onClick('light')" fontSet="material-symbols-outlined">light_mode</mat-icon>
   <mat-icon (click)="onClick('dark')" fontSet="material-symbols-outlined">dark_mode</mat-icon>
        <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
     <mat-icon>share</mat-icon>
    </button>

    </div>
  </mat-toolbar>
  